[Desktop Entry]
Name=1Password
Comment=Password Manager and Secure Digital Vault
Exec=/usr/bin/1password %U
Terminal=false
Type=Application
Icon=1password
Categories=Utility;Security;
MimeType=x-scheme-handler/onepassword;
StartupWMClass=1Password
